<div class="content-container">
    <div class="exit-button-container">
        <button class="exit-button" type="button" (click)="closeForm()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <form [formGroup]="milestoneForm" (ngSubmit)="onSubmit()">
        <div class="form-input-container">
            <label for="title" class="form-label">Title</label><br />
            <input type="text"
                   name="title"
                   class="form-input"
                   formControlName="title" />
        </div>
        <div class="second-row-container">
            <div class="form-input-container" id="deadline-container">
                <label for="deadline" class="form-label">Deadline</label><br />
                <input type="date"
                       name="deadline"
                       class="form-input"
                       formControlName="deadline" />
            </div>
            <div class="status-container">
                <label for="status" class="form-label">Status</label><br />
                <div class="buttons-container">
                    <button type="button"
                        class="default-button"
                        (click)="setStatus(button.status)"
                        [ngClass]="{ 'current-status-button': status == button.status }"
                        *ngFor="let button of statusButtons">{{ button.name }}</button>
                </div>
            </div>
        </div>
        <div class="form-input-container">
            <label for="description" class="form-label">Description</label><br />
            <textarea
                    name="description"
                    class="form-textarea"
                    formControlName="description"></textarea>
        </div>
        <button type="submit" [disabled]="milestoneForm.invalid" class="submit-button">
            Submit
        </button>
    </form>
</div>
