<form [formGroup]="editProjectForm" (ngSubmit)="onSubmit()">
    <div class="top-row-container">
        <div class="form-input-container">
            <input type="text"
                   name="title"
                   class="form-input"
                   id="title-input"
                   value="{{ project.getTitle }}"
                   formControlName = "title"
                   />
        </div>
    </div>
    <div class="bottom-row-container">
        <div class="description-container">
            <label for="description" class="ml-1 text-md text-white mx-auto">Description</label><br />
            <textarea
                    name="description"
                    class="form-textarea"
                    formControlName="description"
                    [value]="project.getDescription"
                    ></textarea>
        </div>
        <div class="deadline-container">
            <label for="deadline" class="text-md text-white mx-auto">Deadline</label><br />
            <input type="date"
                   name="deadline"
                   class="form-input"
                   id="deadline-input"
                   value="{{ project.getDeadline }}"
                   formControlName = "deadline"
                   />
        </div>
        <div class="controls-container">
            <button type="submit" class="control-button">
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" (click)="onCloseForm()" class="control-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
</form>
