<div *ngIf="!editMode" class="milestone-container" [ngClass]="{'rounded-t-xl': expand, 'rounded-xl': !expand}">
    <div class="milestone-title" [ngClass]="{ 'line-through hover:no-underline': milestone.getStatus == 'abandoned' }">
        {{ milestone.getName }}
    </div>
    <div class="buttons-container">
        <button type="button"
            class="default-button"
            [ngClass]=
            "{ 'current-status-button': milestone.getStatus == button.status,
            'completed-selected-button': milestone.getStatus == button.status && milestone.getStatus == 'complete',
            'abandoned-selected-button': milestone.getStatus == button.status && milestone.getStatus == 'abandoned',
            'hover:cursor-not-allowed': authPermissionLevel < 2}"
            (click)="changeMilestoneStatus(button.status)"
            *ngFor="let button of statusButtons">{{ button.name }}</button>
    </div>
    <div class="info-container">
        <div class="time-left">
            {{ milestone.getTimeLeft }}
        </div>
        <button (click)="toggleExpand()" class="info-button">
            <i class="fa-solid fa-caret-down"></i>
        </button>
        <button *ngIf="authPermissionLevel >= 3" (click)="toggleEditMode()" class="info-button">
            <i class="fa-solid fa-pen"></i>
        </button>
        <button *ngIf="authPermissionLevel >= 3" (click)="deleteMilestone()" class="info-button">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>

<div *ngIf="expand && !editMode" class="expand-container">
    <div class="expand-info-container">
        <div class="expand-info-heading">Description</div>
        <div>{{ milestone.getDescription }}</div>
        <div class="expand-info-heading">Deadline</div>
        <div>{{ date | date:'fullDate' }}</div>
    </div>
    <div class="comments-container">
        <div class="comments-heading">Comments</div>
        <div class="comment-container">
            <div class="comment-icon">
                AM
            </div>
            <div class="comment">
                <div class="comment-name">Andy McDonald</div>
                This is what a comment will look like
            </div>
        </div>
        <form>
            <textarea
                    name="comment"
                    class="comment-textarea"
                    placeholder="Write a comment..."></textarea>
        </form>
    </div>
</div>

<app-edit-milestone *ngIf="editMode" [milestone]="milestone" (formClosed)="toggleEditMode()"></app-edit-milestone>
