.milestone-container {
    display: flex;
    padding: 1rem;
    background-color: var(--dark-300);
    margin-top: 0.5rem;
    align-items: center;
}

.milestone-title {
    font-weight: 600;
    width: 25%;
}

.milestone-title::selection, .time-left::selection {
    background-color: var(--dark-600);
}


/**
 * Info
 */
.info-container {
    display: flex;
    width: 25%;
    justify-content: flex-end;
}

.time-left {
    margin-right: 1.5rem;
}

.info-button {
    padding: 0 0.5rem 0 0.5rem;
}

.info-button:hover {
    color: var(--dark-600);
}

.expand-container {
    background-color: var(--dark-300);
    padding: 1rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
    margin-bottom: 1rem;
    display: flex;
}

.expand-container::selection {
    background-color: var(--dark-600);
}

.expand-info-container {
    width: 50%;
}

.expand-info-heading {
    font-weight: 600;
    margin-top: 0.5rem;
}

.comments-container {
    width: 50%;
    background-color: var(--dark-200);
    border-radius: 0.75rem;
    padding: 1rem;
}

.comments-heading {
    font-weight: 600;
}

.comment-container {
    background-color: var(--dark-300);
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-top: 0.5rem;
    display: flex;
}

.comment-icon {
    border-radius: 9999px;
    background-color: var(--dark-200);
    height: 2.5rem;
    width: 2.5rem;
    margin-top: 0.5rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--dark-600);
}
 .comment {
     padding: 0.5rem;
 }

 .comment-name {
     font-weight: 600;
     color: var(--dark-600);
 }

 .comment-name::selection {
     background-color: var(--dark-200);
 }

 .comment-textarea {
     font-weight: 600;
     background-color: var(--dark-200);
     border-radius: 0.5rem;
     color: var(--dark-600);
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding: 0.5rem;
     border: 1px solid;
     border-color: var(--dark-600);
     margin-top: 1rem;
 }

 .comment-textarea:focus {
     outline: 2px solid transparent;
     outline-offset: 2px;
 }

 .comment-textarea::placeholder {
     font-style: italic;
     font-weight: 100;
 }
