<div class="p-20">
    <div class="mt-20 selection:bg-dark-300">
        <div class="text-9xl text-white font-bold">Track Milestones</div>
        <div class="text-8xl text-white fond-bold mt-8">Share Your Progress</div>
        <div class="text-7xl text-white fond-semibold mt-10">Get It Done</div>
        <div class="mt-12">
            <a routerLink="register" class="p-4 rounded-xl bg-dark-600 font-semibold hover:bg-dark-500">Sign Up</a>
        </div>
    </div>
</div>
<div class="mx-auto w-3/4 bg-dark-200 rounded-xl p-6 text-dark-600 text-center mt-10">
    Track your project goals through achievable milestones and keep yourself accountable by sharing your progress with team members, managers and friends.
</div>
