<div class="container">
    <div class="title-container">
        <div class="title-text" id="title1">Track Milestones</div>
        <div class="title-text" id="title2">Share Your Progress</div>
        <div class="title-text" id="title3">Get It Done</div>
        <div class="button-container">
            <a routerLink="register" *ngIf="!authenticated" class="button">Sign Up</a>
            <a routerLink="login" *ngIf="!authenticated" class="button">Login</a>
            <a routerLink="projects" *ngIf="authenticated" class="button">Projects</a>
        </div>
    </div>
</div>
<div class="subtext">
    Track your project goals through achievable milestones and keep yourself accountable by sharing your progress with team members, managers and friends.
</div>
