<div class="p-20">
    <div class="p-10 bg-dark-200 rounded-xl">
        <div class="text-center font-semibold text-2xl">
            {{ project.title }}
        </div>
        <div class="p-6">
            <app-milestone
                *ngFor="let milestone of project.milestones"
                [milestone]="milestone">
            </app-milestone>
            <app-add-milestone *ngIf="addMilestone" (newMilestone)="onNewMilestone($event)" (closeMilestone)="toggleAddMilestone()"></app-add-milestone>
            <button (click)="toggleAddMilestone()" *ngIf="!addMilestone" class="p-w mt-4 ml-2 hover:text-dark-600 font-semibold"><i class="fa-solid fa-plus"></i> Add Milestone</button>
        </div>
    </div>
</div>
