<div class="content-container">
    <form [formGroup]="editPermissionLevelForm" (ngSubmit)="onSubmit()" class="edit-form">
        <select formControlName="permissionLevel" class="permission-select">
            <option value=1>Spectator</option>
            <option value=2>Team Member</option>
            <option value=3>Admin</option>
        </select>
        <div class="submit-container">
            <button type="submit" class="submit-check">
                <i class="fa-solid fa-check"></i>
            </button>
        </div>
    </form>
</div>
