<div class="user-container">
    <div class="user-name">
        {{ permission.getUser.getName }}
        <div class="user-email">
            {{ permission.getUser.getEmail }}
        </div>
    </div>
    <div class="controls-container" *ngIf="authPermissionLevel >= 4">
        <button (click)="toggleEditMode()" class="control-button">
            <i class="fa-solid fa-pen"></i>
        </button>
        <button class="control-button" (click)="deleteUser()">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
</div>
<app-edit-user-permission [permission]="permission" *ngIf="editMode"></app-edit-user-permission>
