.user-container, .user-container-edit-mode {
    display: flex;
    background-color: var(--dark-300);
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.user-container-edit-mode {
    border-radius: 0.75rem 0.75rem 0 0;
}

.user-name {
    flex-grow: 1;
}

.user-email {
    font-weight: 100;
    font-style: italic;
}

.controls-container {
    display: flex;
    justify-content: flex-end;
}

.control-button {
    padding: 0 0.5rem 0 0.5rem;
}

.control-button:hover {
    color:var(--dark-600);
}
