<div class="title">
  Login
</div>
<div class="content">
  <div class="form-container">
    <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-input-container">
          <label for="email" class="form-label">Email</label><br />
          <input type="email"
                 name="email"
                 class="form-input"
                 formControlName="email" />
      </div>
      <div class="form-input-container">
          <label for="password" class="text-md text-white mx-auto">Password</label><br />
          <input type="password"
                 name="password"
                 class="form-input"
                 formControlName="password" />
      </div>
      <button type="submit" class="submit-button">Login</button>
    </form>
  </div>
</div>
