<div class="content-container">
    <div class="close-button-container">
        <button class="close-button" type="button" (click)="onCloseForm()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="users-grid">
        <app-user-permission-column [project]="project"
            [permissions]="project.getAuthors"
            [authPermissionLevel]="authPermissionLevel"
            title="Author"></app-user-permission-column>
        <app-user-permission-column [project]="project"
            [permissions]="project.getAdmins"
            [authPermissionLevel]="authPermissionLevel"
            title="Admin"
            (addUser)="onAddUser($event, 3)"></app-user-permission-column>
        <app-user-permission-column [project]="project"
            [permissions]="project.getTeamMembers"
            [authPermissionLevel]="authPermissionLevel"
            title="Team Member"
            (addUser)="onAddUser($event, 2)"></app-user-permission-column>
        <app-user-permission-column [project]="project"
            [permissions]="project.getSpectators"
            [authPermissionLevel]="authPermissionLevel"
            title="Spectator"
            (addUser)="onAddUser($event, 1)"></app-user-permission-column>
    </div>
</div>
