<div class="p-4 bg-dark-300 rounded-xl mt-4 items-center relative">
    <div class="absolute top-3 right-3">
        <button class="hover:cursor-pointer hover:text-dark-600" type="button" (click)="onCloseForm()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="mx-8 grid grid-cols-4 gap-4">
        <div class="bg-dark-200 rounded-xl p-4">
            <div class="text-center mb-4 text-2xl font-semibold">
                Author
            </div>
            <div class="flex bg-dark-300 rounded-xl p-4" *ngFor="let author of project.getAuthors">
                <div class="flex-grow">
                    {{ author.getUser.getName }}
                    <div class="font-thin italic">
                        {{ author.getUser.getEmail }}
                    </div>
                </div>
            </div>
        </div>
        <app-user-permission-column [project]="project"
            [permissions]="project.getAdmins"
            [authPermissionLevel]="authPermissionLevel"
            title="Admin"
            (addUser)="onAddUser($event, 3)"></app-user-permission-column>
        <app-user-permission-column [project]="project"
            [permissions]="project.getTeamMembers"
            [authPermissionLevel]="authPermissionLevel"
            title="Team Member"
            (addUser)="onAddUser($event, 2)"></app-user-permission-column>
        <app-user-permission-column [project]="project"
            [permissions]="project.getSpectators"
            [authPermissionLevel]="authPermissionLevel"
            title="Spectator"
            (addUser)="onAddUser($event, 1)"></app-user-permission-column>
    </div>
</div>
