<div class="mt-8 text-center text-4xl font-semibold">
    Create Project
</div>
<div class="p-20">
    <div class="border border-dark-600 rounded-xl bg-dark-300 w-1/2 mx-auto">
        <form class="p-6" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="mx-2 p-2" *ngFor="let item of inputs">
                <label for="{{ item.name }}" class="text-md text-white mx-auto">{{ item.label }}</label><br />
                <input type="{{ item.type }}"
                       name="{{ item.name }}"
                       class="font-semibold bg-dark-200 rounded-lg text-dark-600 w-full mx-auto p-2 h-8 focus:ring-dark-600 focus:outline-none"
                       formControlName="{{ item.formControl }}" />
            </div>
            <div class="mx-2 p-2">
                <label for="description" class="text-md text-white mx-auto">Description</label><br />
                <textarea
                       name="description"
                       class="font-semibold bg-dark-200 rounded-lg text-dark-600 w-full mx-auto p-2 focus:ring-dark-600 focus:outline-none"
                       formControlName="description"></textarea>
            </div>
            <button type="submit" class="bg-dark-600 text-dark-100 font-semibold p-2 rounded-lg hover:bg-dark-500 ml-4 mt-2">Create Project</button>
        </form>
    </div>
</div>
