<div class="title">
    Create Project
</div>
<div class="content">
    <div class="form-container">
        <form class="form" [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="form-input-container">
                <label for="title" class="form-label">Title</label><br />
                <input type="text"
                       name="title"
                       class="form-input"
                       formControlName="title" />
            </div>
            <div class="form-error" *ngIf="projectForm.controls.title.invalid && projectForm.controls.title.touched">
                Please enter a title
            </div>
            <div class="form-input-container">
                <label for="deadline" class="form-label">Deadline</label><br />
                <input type="date"
                       name="deadline"
                       class="form-input"
                       formControlName="deadline" />
            </div>
            <div class="form-input-container">
                <label for="description" class="form-label">Description</label><br />
                <textarea
                       name="description"
                       class="form-textarea"
                       formControlName="description"></textarea>
            </div>
            <button type="submit" [disabled]="!authenticated || projectForm.invalid" class="submit-button">Create Project</button>
        </form>
    </div>
</div>
