<div class="content-container">
    <input type="text"
           placeholder="Search user email..."
           [(ngModel)]="searchTerm"
           (keyup)="onChange($event)"
            class="form-input" />
    <ul class="list-container">
        <li *ngIf="searchResult == []" class="list-item">
            No results to show
        </li>
        <li *ngFor="let user of searchResult"
            class="list-item"
            (click)="onAddUser(user)">
            {{ user.getName }}, {{ user.getEmail }}
        </li>
    </ul>
</div>
