<div class="title">Projects</div>
<div class="new-project-button-container">
    <a routerLink="/projects/create" class="new-project-button"><i class="fa-solid fa-plus"></i> New Project</a>
</div>
<div *ngFor="let permission of projects" class="permission-container">
    <div class="permission-title" *ngIf="permission.projects.length > 0">
        {{ permission.title }}
    </div>
    <div class="project-grid">
        <a [routerLink]="['/projects', project.getId]" class="project-link" *ngFor="let project of permission.projects">
            <div class="project-title">{{ project.getTitle }}</div>
            <div class="project-description">{{ project.getDescription }}</div>
            <div class="project-deadline">Deadline: {{ project.getTimeLeft }}</div>
            <div class="project-arrow">
                <i class="fa-solid fa-arrow-right"></i>
            </div>
        </a>
    </div>
</div>
