<form [formGroup]="editMilestoneForm" (ngSubmit)="onSubmit()">
    <div class="top-row-container">
        <div class="form-input-container">
            <input type="text"
                   name="title"
                   class="form-input"
                   value="{{ this.milestone.getName }}"
                   formControlName="name"
                   />
        </div>
        <div class="buttons-container">
            <button type="button"
                class="default-button"
                [ngClass]=
                "{ 'current-status-button': status == button.status }"
                (click)="setStatus(button.status)"
                *ngFor="let button of statusButtons">{{ button.name }}</button>
        </div>
        <div class="controls-container">
            <button type="submit" class="control-button">
                <i class="fa-solid fa-check"></i>
            </button>
            <button type="button" (click)="closeForm()" class="control-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>

    <div class="bottom-row-container">
        <div class="description-container">
            <label for="description" class="form-label">Description</label><br />
            <textarea
                    name="description"
                    class="form-textarea"
                    formControlName="description"
                    >{{ milestone.getDescription }}</textarea>
        </div>
        <div class="deadline-container">
            <label for="deadline" class="form-label">Deadline</label><br />
            <input type="date"
                   name="deadline"
                   class="deadline-input"
                   value="{{ milestone.getDeadline }}"
                   formControlName="deadline"
                   />
        </div>
    </div>
</form>
