.top-row-container {
    display: flex;
    padding: 1rem;
    background-color: var(--dark-300);
    margin-top: 0.5rem;
    align-items: center;
    border-top-right-radius: 0.75rem;
    border-top-left-radius: 0.75rem;
}

.form-input-container {
     margin-right: 0;
     margin-left: 0;
     flex-grow: 1;
 }

.form-input {
     height: 2.5rem;
 }

.buttons-container {
    flex-grow: 0;
    width: 33.333333%;
 }

 .controls-container {
     display: flex;
     justify-content: flex-end;
 }

 .control-button {
     padding: 0 0.5rem 0 0.5rem;
 }

 .control-button:hover {
     color: var(--dark-600);
 }

 .bottom-row-container {
     background-color: var(--dark-300);
     padding: 1rem;
     border-bottom-left-radius: 0.75rem;
     border-bottom-right-radius: 0.75rem;
     margin-bottom: 1rem;
     display: flex;
 }

 .description-container {
     width: 50%;
     padding-right: 0.5rem;
     padding-left: 0.5rem;
 }

 .deadline-container {
     width: 50%;
 }

 .deadline-input {
    font-weight: 600;
    background-color: var(--dark-200);
    border-radius: 0.5rem;
    color: var(--dark-600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    height: 4rem;
 }

 .deadline-input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}
