@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --dark-100: #121212;
    --dark-200: #282828;
    --dark-300: #3f3f3f;
    --dark-400: #575757;
    --dark-500: #717171;
    --dark-600: #8b8b8b;
}

body {
    font-family: figtree;
    color: white;
    background-color: var(--dark-100);
}

body::selection {
    background-color: var(--dark-300);
}

.title {
    flex-grow: 1;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 600;
    margin-top: 2.5rem;
}

/**
 * Forms
 **/
.form-container {
    border-width: 1px;
    border-color: var(--dark-600);
    border-radius: 0.75rem;
    background-color: var(--dark-300);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.form {
    padding: 1.5rem;
}

.form-input-container {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    padding: 0.5rem;
}

.form-label {
    color: white;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    font-weight: 600;
    background-color: var(--dark-200);
    border-radius: 0.5rem;
    color: var(--dark-600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    height: 2rem;
}

.form-input:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.submit-button {
    background-color: var(--dark-600);
    color: var(--dark-100);
    font-weight: 550;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.submit-button:hover {
    background-color: var(--dark-500);
}

.submit-button:disabled {
    cursor: not-allowed;
}

.form-error {
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

.form-textarea {
    font-weight: 600;
    background-color: var(--dark-200);
    border-radius: 0.5rem;
    color: var(--dark-600);
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}

.form-textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

/**
 * Status buttons
 */
.buttons-container {
    display: flex;
    margin-left: 1rem;
    flex-grow: 1;
}

.default-button {
    width: 25%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-color: var(--dark-600);
    background-color: var(--dark-200);
    color: var(--dark-600);
}

.current-status-button, .completed-selected-button, .abandoned-selected-button {
    width: 25%;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 1px solid;
    border-color: var(--dark-600);
    background-color: var(--dark-400);
    color: white;
    font-weight: 600;
}

.completed-selected-button {
    background-color: rgba(21, 128, 61, 1);
}

.abandoned-selected-button {
    background-color: rgb(185, 28, 28);
}

.default-button:hover, .current-status-button:hover, .completed-selected-button:hover, .abandoned-selected-button:hover {
    background-color: var(--dark-600);
    color: var(--dark-100);
    font-weight: 600;
}

.completed-selected-button:hover {
    background-color: rgb(22, 163, 74);
    color: white;
}

.abandoned-selected-button:hover {
    background-color: rgb(220, 38, 38);
    color: white;
}

.buttons-container .default-button:first-child {
    border-top-left-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.buttons-container .default-button:last-child {
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}
