<div class="title">
  Register
</div>
<div class="content">
  <div class="form-container">
    <form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-input-container">
          <label for="name" class="form-label">Name</label><br />
          <input type="text"
                 name="name"
                 class="form-input"
                 formControlName="name" />
      </div>
      <div class="form-input-container">
          <label for="email" class="form-label">Email</label><br />
          <input type="email"
                 name="email"
                 class="form-input"
                 formControlName="email" />
      </div>
      <div class="form-input-container">
          <label for="password" class="form-label">Password</label><br />
          <input type="password"
                 name="password"
                 class="form-input"
                 formControlName="password" />
      </div>
    <div class="form-input-container">
        <label for="confirmPassword" class="form-label">Confirm Password</label><br />
        <input type="password"
               name="confirmPassword"
               class="form-input"
               formControlName="confirmPassword" />
    </div>
      <button type="submit" class="submit-button">Register</button>
      <div class="form-error" *ngIf="error">
        The form could not be processed
      </div>
    </form>
  </div>
</div>
